# NIX_CONFIG="extra-substituters = https://nix-beam-flakes.cachix.org"
mkdir -p $PWD/.cache/{mix,hex}
export MIX_HOME=$PWD/.cache/mix
export HEX_HOME=$PWD/.cache/hex

PATH_add $MIX_HOME/escripts
PATH_add $MIX_HOME/bin
PATH_add $HEX_HOME/bin

export ERL_AFLAGS="-kernel shell_history enabled"


use nix

